@import "tailwindcss";

:root {
  --fg: #ffffff;
  --bg: #171717;
}

@theme inline {
  --color-fg: var(--fg);
  --color-bg: var(--bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --fg: #0a0a0a;
    --bg: #ededed;
  }
}*/

body {
  background: var(--fg);
  color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
} 

html,body{
  scroll-behavior: smooth;
}
 @keyframes scroll {
    0% {
          transform: translateX(0);
        }
    100% {
          transform: translateX(-50%);
        }
}